.button2 {
  position: relative;
}
.button1 {
  position: absolute;
  top: 101px;
  left: 122px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-61xl);
  align-items: center;
  justify-content: center;
}
.button-test-frame {
  background-color: #fff;
  width: 520px;
  height: 275px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
